<div class="post">
  <div class="header">
    <h1>Pizdatiy Title</h1>

    <button routerLink="/"
            class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Sdeliali Hovnoyed</strong>
    <small>Pizdata data</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dicta earum impedit ipsa maxime natus officiis sed tempora ut. Ab adipisci asperiores aspernatur at deleniti doloremque eaque facere, fuga fugiat labore laudantium, magnam officiis reiciendis repellat sit. Consequuntur corporis dolore ea fugiat, fugit in nemo temporibus totam. Iste, placeat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dicta earum impedit ipsa maxime natus officiis sed tempora ut. Ab adipisci asperiores aspernatur at deleniti doloremque eaque facere, fuga fugiat labore laudantium, magnam officiis reiciendis repellat sit. Consequuntur corporis dolore ea fugiat, fugit in nemo temporibus totam. Iste, placeat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dicta earum impedit ipsa maxime natus officiis sed tempora ut. Ab adipisci asperiores aspernatur at deleniti doloremque eaque facere, fuga fugiat labore laudantium, magnam officiis reiciendis repellat sit. Consequuntur corporis dolore ea fugiat, fugit in nemo temporibus totam. Iste, placeat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dicta earum impedit ipsa maxime natus officiis sed tempora ut. Ab adipisci asperiores aspernatur at deleniti doloremque eaque facere, fuga fugiat labore laudantium, magnam officiis reiciendis repellat sit. Consequuntur corporis dolore ea fugiat, fugit in nemo temporibus totam. Iste, placeat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dicta earum impedit ipsa maxime natus officiis sed tempora ut. Ab adipisci asperiores aspernatur at deleniti doloremque eaque facere, fuga fugiat labore laudantium, magnam officiis reiciendis repellat sit. Consequuntur corporis dolore ea fugiat, fugit in nemo temporibus totam. Iste, placeat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dicta earum impedit ipsa maxime natus officiis sed tempora ut. Ab adipisci asperiores aspernatur at deleniti doloremque eaque facere, fuga fugiat labore laudantium, magnam officiis reiciendis repellat sit. Consequuntur corporis dolore ea fugiat, fugit in nemo temporibus totam. Iste, placeat?</p>
  </div>
</div>
